.client-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
    img {
        max-width: 100%;
    }
}