.wrap-team-slider {
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        cursor: pointer;
        span {
            display: inline-block;
            font-size: 32px;
            color: #cccccc;
            &:hover {
                color: #666;
            }
        } 
    }
    .prev-btn {
        left: 0;
    }
    .next-btn {
        right: 0;
    }
}
.team-slider {
    padding-top: 30px;
    .slick-list {
        text-align: center;
        .slick-track {
            display: inline-block;
            .slide-item {
                position: relative;
                &.slick-current + .slide-item {
                    .slide-description {
                        opacity: 1; 
                    }
                }
                .image {
                    text-align: center;
                    margin-bottom: -80px;
                    height: 800px;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        display: inline-block;
                    }
                }
                .slide-description {
                    position: absolute;
                    opacity: 0;
                    right: 0;
                    @include transition(all 0.3s ease-out);
                    bottom: 0;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    color: #dddddd;
                    .member-info {
                        padding: 35px 0 35px;
                        .name {
                            font-size: 14px;
                            color: #dddddd;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        .position {
                            font-family: Raleway, serif;
                            color: #dddddd;
                        }
                    }
                    .contacts  {
                        background: $orange;
                        padding: 40px 0 120px;
                        ul {
                            li {
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0 5px;
                                color: #fff;
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
